<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp-SSH.NativeBinaries-libssh2-1.8.1.0" version="1.0.15" targetFramework="net45" />
  <package id="LibGit2Sharp-SSH-updated-libssh2" version="1.0.25" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>